*{
    box-sizing:border-box;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: beige;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.topom{
    float: left;
    width: 33.3%;
    text-align: center;
    border: solid 4px;
    background-color: brown;
    padding:10px
}
.topom:hover{
    background-color: wheat;
}
.pont{
    float: left;
    width: 33.3%;
    height: 20%;
    border: solid 1px;
    padding: 20px;
    margin: 1px;
    display: inline-block;
    
    
}

.rodape{
    float: left;
    width:80%

    
}
.rodape2{
    float: right;
    width: 20%;
    background-color:aqua
}
.pont img{
    width: 100%;
   
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}