*{
    box-sizing:border-box;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: beige;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.topom{
    float: left;
    width: 33.5%;
    text-align: center;
    border: solid 4px;
    background-color: brown;
    padding:10px
}
.topom:hover{
    background-color: wheat;
}
.pont{
    float: left;
    width: 27.8%;
    border: 2px;
    padding: 5px;
    border-radius: 3px;
}